
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
    display: block;
}
body {
    background-image: url(bg\ img.jpeg);
    background-position: center;
    background-size: cover;
}
.main-container {
    margin: 0px 160px;
}
.container1 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    border: 0px solid red;
}
.navbar {
    display: flex;
}
.navbar-menu ul li {
    list-style: none;
    margin: 0px 20px;
    display: inline-block;
}
.navbar-menu ul li a {
    text-decoration: none;
    color: white;
}

.container2 {
    display: flex;
    justify-content: space-between;
    border: 0px solid green;
}
.container2-heading h1 {
    font-size: 100px;
    color: white;
    margin-top: 100px;
}
.container2-heading p {
    color: white;
    margin-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.container2-heading a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 45px;
    border-radius: 20px;
}
.gridbox {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 30px 70px ;
    
    margin-right: 60px;
}
.box {
    width: 220px;
    height: 240px;
    border-radius: 10px;
    transition: transform 1s ease-in-out;
    cursor: pointer;
    text-align: center;
}
.box:hover{
    transform: translateY(-15px);
}
.box h1 {
    font-size: 15px;
    color: white;
    margin:10px 0px 0px 0px;
}
.box p {
    font-size: 10px;
    color: white;
    margin:10px 0px 0px 0px;
    text-decoration: bold;
}
.box1 {
    background-image: url(img1.jpeg);
    background-position: center;
    background-size: cover;
}
.box2 {
    background-image: url(img2.jpeg);
    background-position: center;
    background-size: cover;
}
.box3 {
    background-image: url(img3.jpeg);
    background-position: center;
    background-size: cover;
}
.box4 {
    background-image: url(img4.jpeg);
    background-position: center;
    background-size: cover;
}


@media screen and (min-width: 650px) and (max-width: 800px){
.container2 {
    flex-wrap: wrap;
    justify-content: center;
}
.container2-heading {
    margin-bottom: 50px;
}
}

@media screen and (min-width: 300px) and (max-width: 650px){
    .container2 {
        flex-wrap: wrap;
        justify-content: center;
    }
    .container2-heading {
        margin-bottom: 50px;
    }
    
    .navbar ul li {
        display: block;
    }
    .container2-heading h1 {
        font-size: 55px;
    }
    .gridbox {
        display: grid;
        grid-template-columns: 200px;
        grid-gap: 30px;
    }
    .box {
        width: 250px;
        height: 180px;
    }
}